services:
  model:
    build: .
    restart: 'no'
    tty: true
    stdin_open: true
    working_dir: /app
    volumes:
      - .:/app
    networks:
      - app-network
    depends_on:
      - percona

  percona:
    image: percona:8.0
    platform: linux/x86_64
    volumes:
      - ./data/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: "no"
    environment:
      - MYSQL_ROOT_PASSWORD=root-password
    networks:
      - app-network

networks:
  app-network:
    driver: bridge